/**
 * The following styles get applied both editor & frontend.
 */
@import "../scss/pagination.scss";
@import "../scss/vars";

.wp-block-post-designer-carousel {
	.pd-card-row {
		//display: grid;
		a {
			text-decoration: none;
		}
		&.pd-1-col {
			grid-template-columns: repeat(1, 1fr);
			gap: 10px;
		}
		&.pd-1-col {
			grid-template-columns: repeat(1, 1fr);
			gap: 10px;
		}
		&.pd-2-col {
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
		}
		&.pd-3-col {
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
		}
		&.pd-4-col {
			grid-template-columns: repeat(4, 4fr);
			gap: 10px;
		}
		&.pd-5-col {
			grid-template-columns: repeat(5, 1fr);
			gap: 10px;
		}
		&.pd-6-col {
			grid-template-columns: repeat(6, 1fr);
			gap: 10px;
		}
		&.pd-7-col {
			grid-template-columns: repeat(7, 1fr);
			gap: 10px;
		}
		&.pd-8-col {
			grid-template-columns: repeat(8, 1fr);
			gap: 10px;
		}
		&.pd-9-col {
			grid-template-columns: repeat(9, 1fr);
			gap: 10px;
		}
		&.pd-10-col {
			grid-template-columns: repeat(10, 1fr);
			gap: 10px;
		}
		.pd-card {
			border: var(--pd-card-border) solid #e3e3e3;
			border-radius: var(--pd-card-border-radius);
			background-color: var(--pd-card-background-color) !important;
			& img {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			.pd-card-body {
				.pd-post-title a {
					color: var(--pd-title-color) !important;
					padding: var(--pd-title-padding) !important;
					font-size: var(--pd-title-font-size) !important;
				}
				.pd-post-meta {
					.pd-post-meta-key {
						color: var(--pd-meta-key-color) !important;
						font-size: var(--pd-meta-key-font-size) !important;
					}
					.pd-post-meta-value {
						color: var(--pd-meta-value-color) !important;
						font-size: var(--pd-meta-value-font-size) !important;
					}
				}
				.pd-post-categories {
					.pd-post-category-key {
						color: var(--pd-category-label-color) !important;
						font-size: var(--pd-category-label-font-size) !important;
					}
					.pd-post-category-value {
						a {
							color: var(--pd-category-value-color) !important;
							font-size: var(--pd-category-value-font-size) !important;
						}	
					}
				}
				padding: 10px;
				.pd-post-categories {
					display: flex;
					column-gap: 10px;
				}
				.pd-post-meta,
				.pd-post-categories,
				.pd-post-categories a {
					font-style: italic;
					font-size: 13px;
				}
				.pd-post-categories a:not(last-child) {
					padding-right: 5px;
				}
			}
			.pd-card-footer {
				padding: 10px;
			}
			.pd-post-author {
				display: flex;
				column-gap: 20px;
			}
			.pd-post-author img {
				max-width: 50px;
				max-height: 50px;
				border: 1px solid #e3e3e3;
				border-radius: 100%;
			}
			.pd-post-categories {
				div {
					display: flex;
					flex-wrap: wrap;
				}
			}
		}
		.pd-ratio-16x9 {
			padding-top: 56.25%;
			img {
				object-fit: cover;
				object-position: center;
			}
		}
		.pd-ratio {
			content: " ";
			position: relative;
			width: 100%;
			display: block;
		}
		.pd-ratio > * {
			position: absolute !important;
			top: 0 !important;
			left: 0 !important;
			width: 100% !important;
			height: 100% !important;
		}

	}

	.Select.is-open {
		z-index: 1000 !important;
	}
}

.pd-gb-label {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	box-sizing: border-box;
	display: block;
	padding-top: 0px;
	padding-bottom: 10px;
}
