:root {
    --pd-list-card-background-color: #fff;
    --pd-list-card-border: 1px;
    --pd-list-card-border-radius: 10px;

    --pd-list-title-color: #000;
    --pd-list-title-padding: 0px;
    --pd-list-title-font-size: inherit,

    --pd-list-meta-key-color: #000;
    --pd-list-meta-key-font-size: 12px;

    --pd-list-meta-value-color: #000;
    --pd-list-meta-value-font-size: 12px;

    --pd-list-category-label-color: #000;
    --pd-list-category-label-font-size: 12px;

    --pd-list-category-color: #000;
    --pd-list-category-font-size: 12px;

    --pd-list-excerpt-color: #000;
    --pd-list-excerpt-font-size: 14px;

    --pd-list-read-more-color: #000;
    --pd-list-read-more-font-size: 14px;

    --pd-list-avatar-size: 50px;
    --pd-list-avatar-border-top: 1px solid #e3e3e3;
    --pd-list-avatar-border-left: 1px solid #e3e3e3;
    --pd-list-avatar-border-right: 1px solid #e3e3e3;
    --pd-list-avatar-border-bottom: 1px solid #e3e3e3;
    --pd-list-avatar-border-radius: 100%;

    --pd-list-author-name-color: #000;
    --pd-list-author-name-font-size: 14px;
}