    :root {
        --pd-carousel-card-background-color: #fff;
        --pd-carousel-card-border: 1px;
        --pd-carousel-card-border-radius: 10px;

        --pd-carousel-title-color: #000;
        --pd-carousel-title-padding: 0px;
        --pd-carousel-title-font-size: inherit,

        --pd-carousel-meta-key-color: #000;
        --pd-carousel-meta-key-font-size: 12px;

        --pd-carousel-meta-value-color: #000;
        --pd-carousel-meta-value-font-size: 12px;

        --pd-carousel-category-label-color: #000;
        --pd-carousel-category-label-font-size: 12px;

        --pd-carousel-category-color: #000;
        --pd-carousel-category-font-size: 12px;

        --pd-carousel-excerpt-color: #000;
        --pd-carousel-excerpt-font-size: 14px;

        --pd-carousel-read-more-color: #000;
        --pd-carousel-read-more-font-size: 14px;

        --pd-carousel-avatar-size: 50px;
        --pd-carousel-avatar-border-top: 1px solid #e3e3e3;
        --pd-carousel-avatar-border-left: 1px solid #e3e3e3;
        --pd-carousel-avatar-border-right: 1px solid #e3e3e3;
        --pd-carousel-avatar-border-bottom: 1px solid #e3e3e3;
        --pd-carousel-avatar-border-radius: 100%;

        --pd-carousel-author-name-color: #000;
        --pd-carousel-author-name-font-size: 14px;
    }