    :root {
        --pd-card-background-color: #fff;
        --pd-card-border: 1px;
        --pd-card-border-radius: 10px;

        --pd-title-color: #000;
        --pd-title-padding: 0px;
        --pd-title-font-size: inherit,

        --pd-meta-key-color: #000;
        --pd-meta-key-font-size: 12px;

        --pd-meta-value-color: #000;
        --pd-meta-value-font-size: 12px;

        --pd-category-label-color: #000;
        --pd-category-label-font-size: 12px;

        --pd-category-color: #000;
        --pd-category-font-size: 12px;

        --pd-excerpt-color: #000;
        --pd-excerpt-font-size: 14px;

        --pd-read-more-color: #000;
        --pd-read-more-font-size: 14px;

        --pd-avatar-size: 50px;
        --pd-avatar-border-top: 1px solid #e3e3e3;
        --pd-avatar-border-left: 1px solid #e3e3e3;
        --pd-avatar-border-right: 1px solid #e3e3e3;
        --pd-avatar-border-bottom: 1px solid #e3e3e3;
        --pd-avatar-border-radius: 100%;

        --pd-author-name-color: #000;
        --pd-author-name-font-size: 14px;
    }